 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Testimonios.jpeg");
  background-position: 63.17% 9.74%;
  background-size: 125%;
}

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-group-1 {
  width: 625px;
  min-height: 505px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 243px -75px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 46px auto 0;
}

.u-section-1 .u-line-1 {
  width: 500px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 480px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  align-self: center;
  transition-duration: 0.5s;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
  margin: 33px 35px 0 auto;
  padding: 10px 28px 10px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-1 .u-group-1 {
    animation-duration: 1750ms;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 40px 130px 130px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 30px 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
} .u-section-2 {
  background-image: linear-gradient(black, #72683f);
}

.u-section-2 .u-sheet-1 {
  min-height: 643px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1232px;
  margin: 79px -46px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 412px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-video-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 412px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-video-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: italic;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 585px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 448px;
  height: 113px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -104px auto 0 36px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: -86px auto 0 12px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: italic;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -42px -46px 0 662px;
}

.u-section-2 .u-shape-2 {
  width: 445px;
  height: 113px;
  margin: -90px 8px 0 auto;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: -87px 430px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 385px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -43px;
    margin-left: 562px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -91px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -86px;
    margin-right: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 165px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 452px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 362px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 204px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 172px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: -105px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -169px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -154px;
    margin-left: 262px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 128px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, #a25f58);
}

.u-section-3 .u-sheet-1 {
  min-height: 1488px;
}

.u-section-3 .u-text-1 {
  transition-duration: 0.5s;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-size: 3rem;
  margin: 25px 4px 0 -3px;
}

.u-section-3 .u-text-2 {
  transition-duration: 0.5s;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-size: 3rem;
  margin: -56px -124px 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1206px;
  margin: 201px -33px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/victima.png");
  background-position: 50% 15.69%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 594px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/victima4.jpg");
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 594px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/victima2.jpg");
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-group-elements-1 {
  width: 318px;
  min-height: 318px;
  margin: -124px -45px 0 auto;
}

.u-section-3 .u-shape-1 {
  height: 318px;
  background-image: none;
  width: 318px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -286px 18px 0 13px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 431px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/victima1.jpg");
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-shape-2 {
  width: 343px;
  height: 343px;
  margin: -1220px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -313px 817px 0 20px;
}

.u-section-3 .u-group-elements-2 {
  width: 349px;
  min-height: 352px;
  margin: 61px -12px 0 auto;
}

.u-section-3 .u-group-elements-3 {
  min-height: 350px;
  width: 349px;
  height: auto;
  margin: 650px auto -648px -891px;
}

.u-section-3 .u-shape-3 {
  background-image: none;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 48px 25px 0 27px;
}

.u-section-3 .u-group-elements-4 {
  width: 349px;
  min-height: 349px;
  height: auto;
  margin: 306px -22px 38px auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 51px 26px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 336px;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 463px;
  }

  .u-section-3 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 463px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-shape-1 {
    height: NaNpx;
  }

  .u-section-3 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 336px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 336px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 638px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2912px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 709px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 709px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 515px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 515px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5106px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1159px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 532px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 532px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 552px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 1288px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3362px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 51px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 175px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 730px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 348px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 811px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -310px;
    margin-right: 38px;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before,
.u-section-3 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-text-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
} .u-section-4 {
  min-height: 1323px;
}

.u-section-4 .u-group-1 {
  background-image: linear-gradient(#332c29, #f66f24);
  min-height: 861px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  transition-duration: 0.5s;
  font-size: 2.25rem;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 16px -10px 0 10px;
}

.u-section-4 .u-text-2 {
  transition-duration: 0.5s;
  font-size: 2.25rem;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: -41px -15px 0 15px;
}

.u-section-4 .u-list-1 {
  width: 1208px;
  margin: 22px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 778px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 11px 1px;
}

.u-section-4 .u-image-1 {
  height: 280px;
  width: 280px;
  min-height: 280px;
  background-image: url("images/jorge40.jpg");
  margin: 19px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 21px 0 0 9px;
}

.u-section-4 .u-text-4 {
  line-height: 1.7;
  font-size: 1.375rem;
  font-style: italic;
  margin: 10px 10px 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 11px 1px;
}

.u-section-4 .u-group-3 {
  height: 280px;
  width: 280px;
  min-height: 280px;
  margin: 19px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/clan.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 21px 0 0 9px;
}

.u-section-4 .u-text-6 {
  line-height: 1.7;
  font-size: 1.375rem;
  font-style: italic;
  margin: 10px 10px 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 11px 1px;
}

.u-section-4 .u-group-4 {
  height: 280px;
  width: 280px;
  min-height: 280px;
  margin: 19px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/benito.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 21px 0 0 9px;
}

.u-section-4 .u-text-8 {
  line-height: 1.7;
  font-size: 1.375rem;
  font-style: italic;
  margin: 10px 10px 0;
}

.u-section-4 .u-video-1 {
  width: 825px;
  height: 464px;
  margin: 0 0 0 auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -441px calc(((100% - 1140px) / 2) + 743px) 0 calc(((100% - 1140px) / 2) + -82px);
}

.u-section-4 .u-text-10 {
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px calc(((100% - 1140px) / 2) + 743px) 22px calc(((100% - 1140px) / 2) + -96px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    transform: translateX(0px) translateY(100px) scale(1) rotate(0deg);
    font-weight: bold;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 552px;
  }

  .u-section-4 .u-image-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 643px);
    margin-left: calc(((100% - 940px) / 2) + -82px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 643px);
    margin-left: calc(((100% - 940px) / 2) + -96px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1264px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1328px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -382px;
    margin-right: calc(((100% - 720px) / 2) + 533px);
    margin-left: calc(((100% - 720px) / 2) + -82px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + 533px);
    margin-left: calc(((100% - 720px) / 2) + -96px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1163px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3107px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -281px;
    margin-right: calc(((100% - 540px) / 2) + 443px);
    margin-left: calc(((100% - 540px) / 2) + -82px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + 443px);
    margin-left: calc(((100% - 540px) / 2) + -96px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1050px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1978px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -168px;
    margin-right: calc(((100% - 340px) / 2) + 343px);
    margin-left: calc(((100% - 340px) / 2) + -82px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2) + 343px);
    margin-left: calc(((100% - 340px) / 2) + -96px);
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-4 .u-text-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 872px;
}

.u-section-5 .u-image-1 {
  height: 810px;
  width: 1294px;
  margin: 31px -77px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-5 .u-image-1 {
    height: 588px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-5 .u-image-1 {
    height: 450px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-5 .u-image-1 {
    height: 338px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-5 .u-image-1 {
    height: 213px;
    width: 340px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/tierras.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 714px;
}

.u-section-6 .u-slider-1 {
  min-height: 515px;
  width: 763px;
  height: auto;
  margin: 60px auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  min-height: 515px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/urt.jpg");
  background-position: 50% 50%;
  margin: -485px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 80px 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-6 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-group-2 {
  min-height: 515px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/urt.jpg");
  background-position: 50% 50%;
  margin: -485px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 80px 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-6 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 0;
}

.u-section-6 .u-group-3 {
  min-height: 515px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 0;
}

.u-section-6 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/urt.jpg");
  background-position: 50% 50%;
  margin: -485px auto 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 80px 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-6 .u-carousel-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 0;
}

.u-section-6 .u-group-4 {
  min-height: 515px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 0;
}

.u-section-6 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("images/urt.jpg");
  background-position: 50% 50%;
  margin: -485px auto 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 80px 0;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-text-12 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-6 .u-carousel-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 0;
}

.u-section-6 .u-group-5 {
  min-height: 515px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-10 {
  padding: 0;
}

.u-section-6 .u-text-13 {
  font-size: 1.875rem;
  width: 603px;
  margin: 215px auto 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 52px auto 0;
  padding: 20px 78px 20px 77px;
}

.u-section-6 .u-icon-2 {
  width: 79px;
  height: 79px;
  margin: -53px 229px 0 auto;
  padding: 0;
}

.u-section-6 .u-image-5 {
  width: 83px;
  height: 83px;
  background-image: url("images/urt.jpg");
  background-position: 50% 50%;
  margin: -485px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-6 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-6 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0.5;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -32px;
    height: auto;
  }

  .u-section-6 .u-image-1 {
    margin-top: -418px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0.5;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -32px;
    height: auto;
  }

  .u-section-6 .u-image-2 {
    margin-top: -418px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0.5;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -32px;
    height: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: -418px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0.5;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0.5;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -485px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -485px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-group-3 {
    margin-top: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: -485px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-6 .u-slider-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 64px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -514px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 64px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -514px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-group-3 {
    margin-top: 64px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -514px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-text-13 {
    width: 540px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-6 .u-slider-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-group-1 {
    margin-top: 88px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -538px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-group-2 {
    margin-top: 88px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -538px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-group-3 {
    margin-top: 88px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -538px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-13 {
    width: 340px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 108px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 638px;
}

.u-section-7 .u-video-1 {
  height: 531px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 0 27px;
}

@media (max-width: 991px) {
  .u-section-7 .u-video-1 {
    height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-video-1 {
    height: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-7 .u-video-1 {
    height: 200px;
  }
}